*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body{
    background-image: url("images/Star-Forming-Region-S106.jpg");
   background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.main-header{
    text-align: center;
    margin-top: 5%;
    font-size: 40px;
    background-color: rgba(255, 250, 250, 0.8);
}

.quiz-trackers{
    list-style: none;
    display: inline-block;
    
}

.box{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% auto;
    padding: 5%;
    border: 2px solid rgb(255, 255, 255);
    width: 85%;
    height: 95%;
    text-align: center;
    background-color: rgb(255, 250, 250, 0.8);
}

.hidden{
    display: none;
}

fieldset{
    border: none;
}

legend{
    margin-bottom: 5%;
}

.current-score{
    display: inline;
    text-align: center;
    float: left;
    margin: 5px 10%;
}

.current-question{
    display: inline;
    text-align: center;
    float: right;
    margin: 5px 10%;
}

.button{
    display: block;
    margin: 7.5% auto 0 auto;
    padding: 5px 10px;
    border-radius: 10%;
    background-color: goldenrod;

}


.quiz-start-prompt{
    display: inline-block;
    text-align: center;
    margin: 15% auto 5px auto;
}

.option-label{
    display: inline-block;
    padding: 0.3em;
}

li{
    list-style-type: none;
}

